.bgColor{
    background-color: rgb(242, 223, 199);
    height: 100vh;
}

.loginBox{
    background-color: white;
    height: 20rem;
    margin-top: 20rem;
    box-shadow: 4px 4px 4px 4px rgb(229, 204, 204);
    border-radius: 5px;
}
.label-content{
    text-align: left !important;
    display: block;
    font-size: 15px;
    font-family: Open Sans,Tahoma, sans-serif;
    letter-spacing: 0px;
    color: #1f88d5;
    opacity: 1;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .error-msg {
    color: #e5173f;
    font-family: "Open Sans",Tahoma, sans-serif;
    font-size: 10px;
    padding: 2px !important;
    text-align: left;
    margin-bottom: 0px;
  }
 
  

